*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Georgia;
}

body{
	background: grey;
}

.clearfix{
	clear: both;
}

.resume-box{
	width: 900px;
	height: 1100px;
	margin: 100px auto;
	background: white;
	box-shadow: 5px 21px 20px 20px #3d3f4238;
}

.left-section{
	background: rgb(45, 78, 92);
	width: 250px;
	height: 1100px;
	float: left;
}

.profile{
	overflow: hidden;
	position:relative;
}

.container {
  background-color:rgb(151, 151, 214);
}

.red-box{
  width: 257px;
  height: 407px;
  background: red;
  margin-left: -100px;
  transform: rotatez(60deg);
  margin-top: -200px;
  
}

.profile-img{
	  position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid;
}
.name{
    font-family:Georgia;
    color: white;
    text-align: center;
    margin-top: -34px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.name span{
	color: white;
}

.profession{
    font-family:Georgia;
	  width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid white ;
    border-top: 1px solid white;
    color: white;
    margin-top: 11px;
    text-transform: uppercase;
}

.info{
	margin-top: 50px;
}

.heading{
	  width: 180px;
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
}

.p1{
	color: white;
	width: 184px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 13px;
  line-height: 14px;
}

.p1 span{
	font-size: 13px;
}

.right-section{
	padding: 40px 30px;
    background: white;
    width: 68%;
    float: left;
    height: 1000px;
}

.p2{
  font-family:Georgia;
  margin: 0 auto;
  padding: 2px;
  border-bottom: 1px solid black;
  border-top: 1px solid lightgray;
  color: red;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 30px;
  line-height: 20px;
}

.p3{
  font-family:Georgia;
	margin-top: 20px;
	color: black;
	text-align: justify;
	word-spacing: -4px;
}

.left{
	width: 25%;
	float: left;
}

.right{
	width: 75%;
	float: left;
}

.lr-box{
	margin-top: 20px;
	margin-bottom: 20px;
}

.p4{
	font-size: 14px;
	font-weight: 600;
}

.p5{
	font-size: 12px;
	color: lightslategrey;
}

.list-group {
 width: 50%;
 float: left;
 padding: 20px 20px 20px 0px;
}

.p6{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-btn-primary {
background-color: rgb(209, 232, 126);
}