* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
}

.container {
  max-width: 500px;
  margin: 15vh auto;
  /* background-color: #ffffff; */
  border-radius: 20px;
  padding: 50px 20px 20px;
  box-shadow: 0px 0px 30px 5px #cbcbcb;
}

.toDoHeader {
  border-bottom: 1px solid #c9c9c9;
  padding: 0 0 25px;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 100;
  color: #474747;
  text-align: center;
  padding-bottom: 50px;
}

.inputField {
  height: 50px;
  padding: 0 10px;
  font-size: 1.5em;
  font-weight: 100;
  width: auto;
  border-radius: 15px;
  border: 1px solid #474747;
}

.addTask {
  height: 50px;
  width: 70px;
  margin-left: -50px;
  border-radius: 15px;
  background-color: #192d34;
  border: 1px solid #474747;
  color: #e6e5e5;
  font-size: 1.1em;
}

.paraghraph-styling {
  color: red;
  font-size: 20px;
  padding: px 0;
}

.toDoContainer {
  padding: 20px 70px 20px;
  cursor: pointer;
}

.indication {
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  background-color: #c3d0d2;
  border-radius: 5px;
  color: #282837;
}
.indication p {
  margin: 5px 0;
}
/* -----------------Media Querry---------------- */

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}
